<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.tecmm.moviles.libkotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HolaMundoAndroid">
        <!--1: En caso de sincronizar cuentas de google-->
        <!--2: icono de la app el arroba es hacer referencia a un recurso de la carpeta recursos-->
        <!-- 3: que dice en el nombre de la app-->
        <!--4: El cuadrito: contador dice que el label lo encontrará en recursos en string y se llama -->
        <!-- 5:Soporte para las versiones menores -->
        <!--6: Tema-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>